<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @user.timestamp %>
</p>

<p>
  <b>Hash password:</b>
  <%= @user.hash_password %>
</p>

<p>
  <b>Visits:</b>
  <%= Visit.find_all_by_user_id(@user) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
