<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Location:</b>
  <%= @restaurant.location %>
</p>

<p>
  <b>Open:</b>
  <%= @restaurant.open %>
</p>
<p>Visits:
<% @visits.each do |visit|%>
<%= visit.date %>
<%= visit.user_id %> <br />
<% end %>

</p>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
