<!DOCTYPE html>
<html>
<head>
  <title>Alphabet Soup: A Game for Foodies</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  
  <header>
    	<%= image_tag("bingo_logo_small.png", :id => "logo") %>
	
	<h1><a href="index.html">Alphabet Soup</a></h1>
	<h2>Fun for Foodies!</h2>

  <nav>
	<ul>
		<li><%= link_to 'Your Soup Bowl', bowls_path%></li>
		<!--<li><?php if ($thisPage=="Leaderboard") 
                echo " id=\"currentpage\""; ?>><a href="leaderboard.php">Leaderboard</a></li>-->
		<li><%= link_to 'Restaurants', restaurants_path %></li>
	</ul>
		<% if session[:user_id] %>
		<%= button_to 'Logout', logout_path, :method => :delete	%>
		<% end %>
	
	
  </nav>
    
  </header>

<section class="page">
<%= yield %>
</section>

<footer>
	<small>Copyright 2011</small>
</footer>

</body>
</html>
